<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="float-left">
                <div class="btn btn -right">
                    <button class="btn btn-success" routerLink="register" (click)="AddUser()">Add New User</button>                            
                </div>
                <div class="btn btn-left">
                    <button class="btn btn-warning" (click)="getmanagers()">View Project Manager</button>
                </div>
                <div class="btn btn-left">
                    <button class="btn btn-warning">view Project Status</button>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>