<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="table">
                <tr>
                    <th>EmpID</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th></th>
                </tr>
                <tr *ngFor="let emp of assigne; let i = index">
                    <td>{{emp.assigne_id}}</td>
                    <td>{{emp.firstname}}</td>
                    <td>{{emp.lastname}}</td>
                    <td>{{emp.email}}</td>
                    <td><button class="btn btn-primary"
                            (click)="AssigneToTask(emp)">AssigneToTask</button>
                    </td>
                    <!-- <td><button class="btn btn-primary" (click)="AssigneToTask(emp.firstname,emp.lastname,emp.email)">AssigneToTask</button></td> -->
                </tr>
            </div>
        </div>
    </div>
</div>