<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <div class="logo"><a href="index.html"><span>Project Management</span></a></div>
                 <ul>
                    <li><a routerLink="/admin" (click)="isAdmin()">Admin Dashboard</a></li>
                    <li><a routerLink="/projectmanager" (click)="isPmOrAdmin()">Manager Dashboard</a></li>
                    <li><a routerLink="/employee">Employee Dashboard</a></li>
                </ul>
            </div>
        </div>
    </div>